.wp-tooltip {
    text-decoration: underline #1f649f;
    font-weight: bold;
}

.wpstt .how-to-group{
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.wpstt .title{
    font-weight: bold; 
    font-size: 110%;
}

/**Settings form */
.wpstt  .form-area{
    max-width: 450px;
}
.wpstt  .form-group {
    margin-bottom: 1rem;
}
.wpstt  label {
    display: inline-block;
    margin-bottom: .5rem;
}

.wpstt  select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.wpstt  .form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wpstt   .text-center{
    text-align: center;
}